:root {
    --orange:hsl(26, 100%, 55%);
    --pale-orange:hsl(25, 100%, 94%);
    --dark-blue:hsl(220, 13%, 13%);
    --dark-gray-blue:hsl(219, 9%, 45%);
    --gray-blue:hsl(220, 14%, 75%);
    --light-gray-blue:hsl(223, 64%, 98%);
    --white:hsl(0, 0%, 100%);
}

body {
    margin:0;
    padding:0;
    font-size:16px;
    box-sizing: border-box;
}

header {
    display:flex;
    width:85%;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-blue);
    margin:1% auto 2% auto;
    padding-bottom:2%;
}

.left-header {
    display:flex;
    width:55%;
    justify-content: space-between;
} 

.left-header nav {
    width:70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header a {
    text-decoration: none;
    color:var(--dark-gray-blue);
    font-size: 1.2em;
}

.left-header img {
    width:26%;
    height: auto;
    object-fit: contain;
    margin-right:50px;
}

.right-header {
    display:flex;
    width:12%;
    justify-content: space-between;
    align-items: center;
}

.right-header img {
    height:30%;
    width:auto;
}

#avatar{
    height: 60%;
    width:auto;
}


main {
    width: 80%;
    margin:0 auto;
    display:flex;
    padding:1% 2%;
    justify-content:space-evenly;
}

.left-main {
    width:43%;
    height: auto;
    margin:1% 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-main img {
    width:88%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    width:88%;
}
.images img {
    width:20%;
    height: auto;
}

.right-main {
    width:50%;
    height: auto;
    margin:0 auto;
}

.right-main h1 {
    font-size:1.5em;
    margin:8% 0 0 0;
    color:var(--dark-gray-blue)
}

.right-main h2 {
    font-size: 4em;
    margin:-0.5% 0 3% 0;
}

.right-main p {
    font-size:1.7em;
    display:inline-block;
}

.right-main .count {
    display:inline-block;
    border: 1px solid black;
}
#menu {
    position: absolute;
    top:0;
    left:5px;
    width:30px;
    display: none;
}