:root {
    --orange:hsl(26, 100%, 55%);
    --pale-orange:hsl(25, 100%, 94%);
    --dark-blue:hsl(220, 13%, 13%);
    --dark-gray-blue:hsl(219, 9%, 45%);
    --gray-blue:hsl(220, 14%, 75%);
    --light-gray-blue:hsl(223, 64%, 98%);
    --white:hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    margin:0;
    padding:0;
    font-family: "Kumbh Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

img {
    max-width: 100%;
}
header {
    max-width: 1600px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    padding:0;
}

.left-header img {
    margin-right: 35px;
    width:200px;
    height: auto;
    
}

.left-header nav a{
    padding:0 25px;
    text-decoration: none;
    color:var(--dark-gray-blue);
    font-size:1.2rem;
}

.right-header {
    display: flex;
    align-items: center;
}

.right-header img {
    padding:25px;
    width:80px;
    height: auto;
}
#avatar{
    width:100px;
    padding-right: 0px;
}


main {
    max-width:1600px;
    margin:20px auto;
    border-top:1px solid var(--dark-gray-blue);
    padding:40px 40px;
    display: flex;
}

.left-main {
    width: 50%;
}

#main-image {
    width: 100%;
    height: auto;
}

.container {
    max-width: 600px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-main img {
    border-radius: 20px;
}
.images {
    display: flex;
    justify-content: space-between;
    padding-top:25px;
}

.images img {
    max-width: 120px;
}
.right-main {
    width:50%;
    padding:40px 100px;
}

.right-main h1 {
    letter-spacing: 2px;
    font-size:1.2em;
    color:var(--dark-gray-blue)
}

.right-main h2 {
    font-size:3.5em;
    font-weight: 900;
    margin-top:-10px;
}

.description {
    font-size:1.5em;
    color:var(--dark-gray-blue)
}

.discount-price {
    font-size:2em;
    font-weight: 700;
    margin-right:25px;
}

.discount {
    font-size:1.5em;
    color:var(--light-gray-blue);
    background-color: var(--dark-blue);
    padding:2px 10px;
    border-radius: 10px;
}

.price {
    font-size:1.3em;
    text-decoration: line-through;
    color:var(--dark-gray-blue);
    font-weight: 300;
}

.count {
    border:1px solid black
}
