:root {
    --orange:hsl(26, 100%, 55%);
    --pale-orange:hsl(25, 100%, 94%);
    --dark-blue:hsl(220, 13%, 13%);
    --dark-gray-blue:hsl(219, 9%, 45%);
    --gray-blue:hsl(220, 14%, 75%);
    --light-gray-blue:hsl(223, 64%, 98%);
    --white:hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 0%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    margin:0;
    padding:0;
    font-family: "Kumbh Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: var(--white);
}

img {
    max-width: 100%;
}
header {
    max-width: 1600px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.left-header {
    display: flex;
    padding:0;
}

.left-header img {
    margin-right: 36px;
    width:200px;
    height: auto;
    
}

.left-header nav a{
    padding:0 24px;
    text-decoration: none;
    color:var(--dark-gray-blue);
    font-size:1.2rem;
}

.right-header {
    display: flex;
    align-items: center;
}

.right-header img {
    padding:24px;
    width:80px;
    height: auto;
}
#avatar{
    width:100px;
    padding-right: 0px;
}


main {
    max-width:1600px;
    margin:20px auto;
    border-top:1px solid var(--dark-gray-blue);
    padding:40px 40px;
    display: flex;
    max-height: 750px;
}

.left-main {
    width: 50%;
}

#main-image {
    width: 100%;
    height: auto;
}

.container {
    max-width: 600px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-main img {
    border-radius: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    padding-top:24px;
}

.images div {
    border-radius: 20px;
    display: inline-block;
    width:120px;
    height: auto;
    overflow: hidden;
    border: 2px solid transparent;
}

.images img {
    width: 100%;
}

.right-main {
    width:50%;
    padding:40px 100px;
}

.right-main h1 {
    letter-spacing: 2px;
    font-size:1.2em;
    color:var(--dark-gray-blue)
}

.right-main h2 {
    font-size:3.5em;
    font-weight: 900;
    margin-top:-12px;
}

.description {
    font-size:1.2em;
    color:var(--dark-gray-blue);
    margin-top: -12px;
}

.discount-price {
    font-size:2em;
    font-weight: 700;
    margin-right:24px;
    margin-top: -4px;
}

.discount {
    font-size:1.5em;
    color:var(--light-gray-blue);
    background-color: var(--dark-blue);
    padding:2px 10px;
    border-radius: 10px;
}

.price {
    font-size:1.3em;
    text-decoration: line-through;
    color:var(--dark-gray-blue);
    font-weight: 300;
    margin-bottom: -4px;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 36px;
}

.count {
    width:200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16px;
    background-color: var(--light-gray-blue);
    border-radius: 12px;
    font-weight: 900;
    font-size: 1.2em;
}

.count img {
    width:16px;
}

#add-to-cart {
    width: calc(100% - 220px);
    height: 80px;
    background-color: var(--orange);    
    font-weight: 600;
    font-size: 1.2em;
    border: 0;
    border-radius: 12px;
}

#add-to-cart img{
    margin-right: 8px;
    width:22px;
    filter:brightness(0);
}


#menu {
    display: none;
}